.feature {
  background-color: $lightGrayishBlue;
  text-align: center;

  @include breakpoint-up(medium) {
    text-align: left;
  }

  &__intro {
    margin-bottom: 6rem;
    @include breakpoint-up(large) {
      width: 55%;
    }
  }

  &__grid {
    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 1.5rem;
    @include breakpoint-up(medium) {
      flex: 0 0 50%;
    }
    @include breakpoint-up(large) {
      flex: 1;
    }
  }
  &__icon {
    margin-bottom: 2rem;

    @include breakpoint-up(large) {
      margin-bottom: 4.4rem;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    color: $darkBlue;
    margin-bottom: 2.4rem;

    @include breakpoint-up(large) {
      font-size: 2.4rem;
      margin-bottom: 3.4rem;
    }
  }
  &__description {
    font-size: 1.4rem;
    line-height: 1.5;
    @include breakpoint-up(large) {
      margin-bottom: 4.4rem;
    }
  }
}
