.header {

  //Hamburger Open Styles

  &.open {
    .overlay {
      display: block;
    }
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
        transform-origin: bottom left;
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
        transform-origin: top left;
      }
    }
  }

  //Overlay
  .overlay {
    position: fixed;
    top: 6rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient($darkBlue, transparent);
  }

  &__logo {
    img {
      width: 14.1rem;
      height: 2.2rem;
    }
  }

  // Mobile Menu Toggle
  &__toggle {
    > span {
      display: block;
      width: 2.6rem;
      height: 2px;
      background-color: $darkBlue;
      transition: all 0.1s ease-in-out;

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }

  //Mobile Menu
  &__menu {
    position: fixed;
    left: 5vw;
    top: 10vh;
    background-color: $white;
    width: 90vw;
    padding: 4rem 0;
    border-radius: 3px;

    > a {
      text-align: center;
      color: $grayishBlue;
      &:not(:last-child) {
        &::after {
          margin: 2rem 0;
          display: block;
          content: '';
          width: 23rem;
          height: 1px;
          background-color: lighten($grayishBlue, 35%);
        }
      }
    }
  }

  //Links Style
  &__links {
    a {
      position: relative;
      font-size: 1.4rem;
      color: $grayishBlue;
      transition: color 0.3s;

      &:not(:last-child) {
        margin-right: 3.2rem;
      }

      &::before {
        position: absolute;
        display: block;
        content: '';
        height: 5px;
        background-color: $limeGreen;
        left: 0;
        right: 0;
        bottom: -30px;
        opacity: 0;
        transition: opacity 0.3s ease-in;
      }

      &:hover {
        color: darken($grayishBlue, 15%);
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
